{% extends "base.html" %}

{% block container %}
    <div id="container" class="effect mainnav-lg">

        <!--NAVBAR-->
        {% include "header.html" %}
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">

                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title">
                    <h1 class="page-header text-overflow">{% block page-title %}请输入页面标题{% endblock %}</h1>

                <!--End page title-->

                <!--Breadcrumb-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <ol class="breadcrumb">
                    <li><a href="#">{% block menu %}请输入一级标题名{% endblock %}</a></li>
                    <li class="active"><a href="#"><strong>{% block menu2 %}请输入二级标题名{% endblock %}</strong></a></li>
                </ol>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End breadcrumb-->


                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">
                    {% block page-content %}{% endblock %}
                    <!--End page content-->
                </div>

            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->


            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            {% include "nav.html" %}
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->


        </div>

        <!-- FOOTER -->
        {% include "footer.html" %}
        <!-- END FOOTER -->

        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->


    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->

{% endblock %}