<nav id="mainnav-container">
    <div id="mainnav">

        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">

                    <!--Profile Widget-->
                    <!--================================-->
                    <div id="mainnav-profile" class="mainnav-profile">
                        <div class="profile-wrap">
                            <div class="pad-btm">
                                <span class="label label-success pull-right">New</span>
                                <img class="img-circle img-sm img-border" src="/static/img/profile-photos/1.png"
                                     alt="Profile Picture">
                            </div>
                            <a href="#profile-nav" class="box-block" data-toggle="collapse"
                               aria-expanded="false">
                                <p class="mnp-name">Aaron Chavez</p>
                                <span class="mnp-desc">aaron.cha@themeon.net</span>
                            </a>
                        </div>


                    <ul id="mainnav-menu" class="list-group">

                        <!--Category name-->
                        <li class="list-header">Link List</li>

                        <!--Menu list item-->
                        <li class="active-link">
                            <a href="#">
                                <i class="ti-game"></i>
                                <span class="menu-title">Active state</span>
                            </a>
                        </li>

                        <!--Menu list item-->
                        <li>
                            <a href="#">
                                <i class="ti-alarm-clock"></i>
						                    <span class="menu-title">
												<strong>首页</strong>
											</span>
                            </a>
                        </li>


                        <li class="list-divider"></li>

                        <!--Category name-->
                        <li class="list-header">功能导航</li>

                        <!--Menu list item-->
                        <li class="active-sub">
                            <a href="#">
                                <i class="ti-wallet"></i>
                                <span class="menu-title">Active State</span>
                                <i class="arrow"></i>
                            </a>

                            <!--Submenu-->
                            <ul class="collapse in">
                                <li><a href="#">Link</a></li>
                                <li class="active-link"><a href="#">Active link</a></li>
                                <li><a href="#">Another link</a></li>
                                <li><a href="#">Some else here</a></li>
                                <li class="list-divider"></li>
                                <li><a href="#">Separate link</a></li>

                            </ul>
                        </li>


                        <!--Menu list item-->
                        <li>
                            <a href="#">
                                <i class="ti-basketball"></i>
						                    <span class="menu-title">
												With badge
												<span class="pull-right badge badge-success">3</span>
											</span>
                            </a>

                            <!--Submenu-->
                            <ul class="collapse">
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Another link</a></li>
                                <li><a href="#">Some else here</a></li>
                                <li class="list-divider"></li>
                                <li><a href="#">Separate link</a></li>

                            </ul>
                        </li>


                    </ul>


                    <!--Widget-->
                    <!--================================-->
                    <div class="mainnav-widget">

                        <!-- Show the button on collapsed navigation -->
                        <div class="show-small">
                            <a href="#" data-toggle="menu-widget" data-target="#demo-wg-server">
                                <i class="fa fa-desktop"></i>
                            </a>
                        </div>

                        <!-- Hide the content on collapsed navigation -->
                        <div id="demo-wg-server" class="hide-small mainnav-widget-content">
                            <ul class="list-group">
                                <li class="list-header pad-no pad-ver">Simple Widget</li>
                                <li class="mar-btm">
                                    <span class="label label-primary pull-right">15%</span>
                                    <p>CPU Usage</p>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar progress-bar-primary" style="width: 15%;">
                                            <span class="sr-only">15%</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="mar-btm">
                                    <span class="label label-purple pull-right">75%</span>
                                    <p>Bandwidth</p>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar progress-bar-purple" style="width: 75%;">
                                            <span class="sr-only">75%</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="pad-ver"><a href="#" class="btn btn-success btn-bock">View
                                    Details</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End widget-->

                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->

    </div>
</nav>