{% extends "muban.html" %}

{% block title %}角色管理{% endblock %}
{% block page-title %}角色管理{% endblock %}
{% block menu %}角色管理{% endblock %}
{% block menu2 %}角色列表{% endblock %}
{% block page-content %}


    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">角色列表</h3>
            </div>
            <div class="panel-body demo-nifty-btn">

                <a href="{% url "role_add" %}" data-target="#demo-modal-wo-anim" class="btn btn-primary btn-md">增加角色
                </a>
                <div class="hr-line-dashed"></div>
                <table id="demo-foo-addrow"
                       class="table table-bordered table-hover toggle-circle footable-loaded footable default"
                       data-page-size="7">
                    <thead>
                    <tr>
                        <th data-sort-ignore="true" class="min-width footable-visible footable-first-column"></th>
                        <th data-sort-initial="true" data-toggle="true"
                            class="footable-visible footable-sortable footable-sorted"><span
                                class="footable-sort-indicator">序号</span></th>
                        <th class="footable-visible footable-sortable">角色名<span
                                class="footable-sort-indicator"></span></th>
                        <th class="footable-visible footable-sortable">角色权限<span
                                class="footable-sort-indicator"></span></th>
                        <th class="footable-visible footable-last-column footable-sortable">
                            操作<span
                                class="footable-sort-indicator"></span></th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for role_obj in page_objs %}
                        <tr class="footable-even" style="display: table-row;">
                            <td class="footable-visible hide" target="{{ role_obj.id }}">{{ role_obj.id }}</td>
                            <td class="footable-visible footable-first-column">
                                <button class="demo-delete-row btn btn-danger btn-xs"><i class="demo-pli-cross"></i>
                                </button>
                            </td>
                            <td class="footable-visible"><span class="footable-toggle"></span>{{ forloop.counter }}</td>
                            <td class="footable-visible">{{ role_obj.name }}</td>
                            <td class="footable-visible">
                                {% for menu in role_obj.menu.all %}
                                    <span class="btn-warning">{{ menu }}</span>
                                {% endfor %}
                            </td>
                            <td class="footable-visible">
                                    <a href="{% url "role_edit" role_obj.id %}"><span
                                        class="label  label-success">编辑</span></a>
                                <a id="demo-bootbox-confirm" href="#" onclick="role_del(this)"><span
                                        class="label label-table label-danger">删除</span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="8" class="footable-visible">
                            {% include "paginator.html" %}
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="bootbox modal fade bootbox-confirm in hide" tabindex="-1" role="dialog"
         style="display: block; padding-right: 17px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="bootbox-body">是否确认删除</div>
                </div>
                <div class="modal-footer">
                    <button data-bb-handler="cancel" type="button" class="btn btn-default" onclick="role_del_cancel()">
                        取消
                    </button>
                    <button data-bb-handler="confirm" type="button" class="btn btn-primary"
                            id="role_del_submit" onclick="role_del_submit(this)">删除
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade in hide"></div>
{% endblock %}

{% block js %}
    <script>
        //显示角色删除确认对话框
        function role_del(thr) {
            $(".modal").removeClass("hide");
            $(".modal-backdrop").removeClass("hide");
            //取删除数据的ID
            var id = $(thr).parent().parent().children().attr("target")
            $("#role_del_submit").attr("target", id)
        }

        //隐藏角色删除确认对话框
        function role_del_cancel() {
            $(".modal").addClass("hide");
            $(".modal-backdrop").addClass("hide");
        }

        //角色数据删除
        function role_del_submit(thr) {
            var id = $(thr).attr("target")

            $.getJSON("{% url "role_del" %}", {"id": id}, function (callback) {
                if (callback.status) {
                    $(".modal").addClass("hide");
                    $(".modal-backdrop").addClass("hide");
                    location.reload()

                }
            })
        }
    </script>
{% endblock %}