{% extends "muban.html" %}
{% block css %}


{% endblock %}
{% block title %}查看服务器{% endblock %}
{% block page-title %}查看服务器{% endblock %}
{% block menu %}服务器管理{% endblock %}
{% block menu2 %}服务器列表{% endblock %}
{% block page-content %}
    <div class="tab-base">

        <!--Nav Tabs-->
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#demo-lft-tab-1"><span class="badge badge-purple">基本信息</span></a>
            </li>
            <li>
                <a data-toggle="tab" href="#demo-lft-tab-2">硬件详情</a>
            </li>
            <li>
                <a data-toggle="tab" href="#demo-lft-tab-3">变更记录</a>
            </li>
        </ul>

        <!--Tabs Content-->
        <div class="tab-content">
            <div id="demo-lft-tab-1" class="tab-pane fade active in">
                {% include "jasset/asset_basic.html" %}
            </div>
            <div id="demo-lft-tab-2" class="tab-pane fade">
                {% include "jasset/asset_hard.html" %}
            </div>
            <div id="demo-lft-tab-3" class="tab-pane fade">
                {% include "jasset/asset_record.html" %}
            </div>
        </div>
    </div>
{% endblock %}